/* Page Input Barang */
.box-input-barang{
    border-style: groove;
    width: 100%;
    height: 560px;
    padding: 30px;
    padding-right: 50px;
    margin-bottom: 70px;
    margin-top: 30px;
}

.form-jumlah{
    width: 10%;
}

.form-harga{
    width: 20%;
}

.btn-save-size{
    width: 100%;
}

/* Page Data-Akun */
.box-akun{
    border-style: groove;
    width: 100%;
    height: 200px;
    padding: 30px;
}

.full-size{
    width: 100%;
}

.position-fix{
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 20px;
}


/* Page Transaksi */
.box-harga{
    width: 50%;
    height: 100px;
    background-color: #dfdfdf;
    padding-top: 30px;
    float: right;
}

.width-kode{
    width: 50%;
}

.width-cari{
    width: 50%;
}

.positioning{
    margin-top: 10px;
    float: left;
}

.pad-table{
    margin-top: 50px;
}

.btn-right{
    margin-left: 75%;
    width: 280px;
}

.box-struk{
    width: 100%;
    height: 200px;
    background-color: #dfdfdf;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px
}